<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User profile's administration</title>
</head>
<body>
    <div class="container-fluid">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>User id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactions}" class="clickable-row">
                <td th:text="${transaction.id}" />
                <td th:text="${transaction.date}"/>
                <td th:text="${transaction.user}"/>
                <td th:text="${transaction.toolId}"/>
                <td th:text="${transaction.transactionType}"/>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>