<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Inventory</title>
</head>
<body>



<nav class="navbar bg-body-tertiary" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand ">Inventory management</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<div>
    <form th:action="@{/tools/list}">
        Filter:
        <input type="text" name="keyword" th:value="${keyword}"/>
        &nbsp;
        <input type="submit" value="search"/>
        <input type="button" value="clear"/>
    </form>

</div>
<br>


<div class="container-fluid">
<!--    <a th:href="@{/tools/showFormForAdd}" class="btn btn-primary btn-sm mb-3">-->
<!--        Add tool-->
<!--    </a>-->





<!--    <form action="#" th:action="@{/tools/search}" th:object="${tool}" method="POST">-->
<!--<-->

<!--        <button type="submit" class="btn btn-info col-5">Save</button>-->
<!--    </form>-->

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Part number</th>
            <th>Serial number</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tool : ${tools}" class="clickable-row">
            <td th:text="${tool.id}" />
            <td th:text="${tool.partNumber}"/>
            <td th:text="${tool.serialNumber}"/>
            <td th:text="${tool.description}">New</td>
            <td>
                <a th:href="@{/tools/showFormForUpdate(toolId=${tool.id})}" class="btn btn-info btn-sm">Edit</a>

                <a th:href="@{/tools/delete(toolId=${tool.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this tool?'))) return false">
                    Delete
                </a>
            </td>


        </tr>
        </tbody>


    </table>
</div>

</div>

</body>
</html>