<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script type="text/javascript" src="../static/js/code.jquery.com_jquery-3.7.1.min.js" th:src="@{/js/code.jquery.com_jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>

    <title>Inventory</title>
</head>
<body>

<!-- Modal form for add tool-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addModalLabel">Add new tool</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/tools/addNew}" method="POST">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Parent barcode id" name="parentBarcodeId">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Part number" name="partNumber">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Serial number" name="serialNumber">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Description" name="description">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Location" name="location">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Shelf" name="shelf">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Verification type" name="verificationType">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Next due date" name="nextDueDate">
                    <button type="submit" class="btn btn-info col-5">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal form for edit tool-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Edit tool</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/tools/update}" method="PUT">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Barcode Id" name="id" id="barcodeIdEdit">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Parent Barcode Id" name="parentBarcodeId" id="parentBarcodeIdEdit">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Part Number" name="partNumber" id="partNumberEdit">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Serial number" name="serialNumber" id="serialNumberEdit">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Description" name="description" id="descriptionEdit">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Location" name="location" id="locationEdit">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Shelf" name="shelf" id="shelfEdit">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Verification Type" name="verificationType" id="verificationTypeEdit">
                    <input type="text" class="form-control mb-4 w-75" placeholder="Next due date" name="nextDueDate" id="nextDueDateEdit">

                    <button type="submit" class="btn btn-info col-5">Save</button>
                </form>
            </div>
        </div>
    </div>

</div>

<div class="div">
    <div class="div flex-container">

            <form action="#" th:action="@{/tools/transactions}" class="navbar-header">
                <input type="submit" value="Dashboard" class="btn sidebar-btn"/>
            </form>
            <form action="#" th:action="@{/users/admin-user}" class="navbar-header">
                <input type="submit" value="Users" class="btn sidebar-btn"/>
            </form>
            <form action="#" th:action="@{/tools/transactions}" class="navbar-header">
                <input type="submit" value="Reports" class="btn sidebar-btn"/>
            </form>
            <form action="#" th:action="@{/tools/transactions}" class="navbar-header">
                <input type="submit" value="History" class="btn sidebar-btn"/>
            </form>
            <form action="#" th:action="@{/tools/transactions}" class="navbar-header">
                <input type="submit" value="Settings" class="btn sidebar-btn"/>
            </form>
            <form action="#" th:action="@{/logout}" method="POST" class="navbar-header">
                <input type="submit" value="Logout" class="btn sidebar-btn" />
            </form>
    </div>
    <div class="navbar flex-container">
        <form th:action="@{/tools/list}" th:object="${search}" class="navbar-form" role="search" modelAttribute="selectedOption">
            <input  name="keyword" th:value="${keyword}" class="" type="search" placeholder="Search" aria-label="Search" id="searchText">

            <select th:field="*{header}" name="option" class="" area-label="">
                <option th:each="tempHeader : ${headers}" th:value="${tempHeader}" th:text="${tempHeader}"/>
            </select>

            <button class="" type="submit">Search</button>
            &nbsp;
            <button class="" type="button" onclick="clearFilter()">Clear</button>

            <!-- Button trigger modal -->
            <button type="button" class="" data-bs-toggle="modal" data-bs-target="#addModal">
                Add tool
            </button>
        </form>
    </div>
    <div class="div">
        <table class="table">
            <tr class="table-header">
                <th>Barcode Id</th>
                <th>Parent Barcode Id</th>
                <th>Part Number</th>
                <th>Serial Number</th>
                <th>Description</th>
                <th>Location</th>
                <th>Shelve</th>
                <th>Verification type</th>
                <th>Next due date</th>
                <th>Action</th>
            </tr>
            <tbody class="table-body">
            <tr th:each="tool : ${tools}" class="" style="height: 20px">
                <td th:text="${tool.barcodeId}" />
                <td th:text="${tool.parentBarcodeId}" />
                <td th:text="${tool.partNumber}"/>
                <td th:text="${tool.serialNumber}"/>
                <td th:text="${tool.description}"/>
                <td th:text="${tool.location}"/>
                <td th:text="${tool.shelf}"/>
                <td th:text="${tool.verificationType}"/>
                <td th:text="${tool.nextDueDate}"/>
                <td>

                    <a th:href="@{/tools/getOne(theId=${tool.barcodeId})}" class="action-btn-edit" sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')">
                        Edit
                    </a>

                    <a th:href="@{/tools/delete(toolId=${tool.barcodeId})}"
                       class="action-btn-delete"
                       onclick="if (!(confirm('Are you sure you want to delete this tool?'))) return false" sec:authorize="hasRole('ROLE_ADMIN')">
                        Delete
                    </a>
                </td>


            </tr>
            </tbody>
        </table>
    </div>
</div>





</div>


<script type="text/javascript">
    function clearFilter(){
        window.location = '/tools/list';
    }
</script>
<script type="text/javascript">
    function toggleSideBar(){
    sidebar = document.querySelector(".sidebar");
    console.log(sidebar.classList.contains("show"));
        if (sidebar.classList.contains("show")) {
            document.querySelector(".sidebar").classList.remove("show");
             document.querySelector(".sidebar").style.width = "55px";
<!--             document.querySelectorAll(".sidebar-text").style.display = "none";-->
        } else {
            document.querySelector(".sidebar").classList.add("show");
            document.querySelector(".sidebar").style.width = "210px";
<!--            document.querySelectorAll(".sidebar-text").style.display = "block";-->
        };
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>

</body>
</html>