<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Transaction history</title>
</head>
<body>
<div class="container-fluid">

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Transaction id</th>
            <th>Date</th>
            <th>User</th>
            <th>Tool Id</th>
            <th>Transaction type</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="transaction : ${transactions}" class="clickable-row">
            <td th:text="${transaction.id}" />
            <td th:text="${transaction.date}"/>
            <td th:text="${transaction.user}"/>
            <td th:text="${transaction.toolId}"/>
            <td th:text="${transaction.transactionType}"/>

        </tr>
        </tbody>


    </table>
</div>
</body>
</html>