.funny{
    font-style: italic;
    color:red;
    font-size: 90px;
}

.clickable-row:hover{
     background-color: #ced4da;
}

.errorMessage{
    font-style: italic;
    color:red;
}

.info {
    color: white;
    font-size: 16px;
}
.icon {
    width: 40px;
    height: 40px;
}
.navbar{
    background-color: white;
}

.sidebar {
    background-color: #213555;
    overflow:hidden;
    width: 220px;
    height: 100vh;
}

.sidebar-text {
    color: #FFF;
}

.icon-sm {
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
    height: 100%;
}

.sidebar-btn{
    background-color: #213555;
    color: white;
}
.sidebar-btn:hover{
    border: 1px solid white;
}

.fixTableHead {
      overflow-y: auto;
      height: 90vh;
      margin: 0;
}
.fixTableHead thead th {
      position: sticky;
      top: 0;
}
tr{
    line-height: 20px;
    height: 20px;
}
