.funny{
    font-style: italic;
    color:red;
    font-size: 90px;
}

.clickable-row:hover{
     background-color: #ced4da;
}

.errorMessage{
    font-style: italic;
    color:red;
}

.info {
    color: white;
    font-size: 16px;
}
.icon {
    width: 40px;
    height: 40px;
}
.navbar{
    background-color: white;
}

.sidebar {
    background-color: #213555;
    overflow:hidden;
    width: 55px;
    height: 100vh;
}

.sidebar-text {
    color: #FFF;
}

.icon-sm {
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
    height: 100%;
}

.sidebar-btn{
    background-color: #213555;
    color: white;
}
.sidebar-btn:hover{
    border: 1px solid white;
}

.fixTableHead {
      overflow-y: auto;
      height: 90vh;
      margin: 0;
}
.fixTableHead thead th {
      position: sticky;
      top: 0;
}
tr{
    line-height: 20px;
    height: 20px;
}

.show {
    display:block;
}

.div {

}
.container {
    width: 100%;
}

table {
    width:100%
}

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
}

.navbar {
    border-top: 1px solid grey;
}

tr {
    line-height: 10px;
}

.table-header {
    background-color: #E2E4E8;
    border: 1px solid grey;
}

.flex-container {
   display: flex;
   background-color: #E2E4E8;
}

.flex-container > div {
  background-color: #E2E4E8;
  margin: 5px;
  padding: 5px;
  font-size: 14px;
}

button {
    margin: 5px;
    background-color: white;
}





