
.div {

}
.container {
    width: 100%;
}

table {
    width:100%
}

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  font-size: 14px;
}

.navbar {
    border-top: 1px solid grey;
}

tr {
    line-height: 9px;
}

.table-header {
    background-color: #E2E4E8;
    border: 1px solid grey;
}

.flex-container {
   display: flex;
   background-color: #E2E4E8;
}

.flex-container > div {
  background-color: #E2E4E8;
  margin: 5px;
  padding: 5px;
  font-size: 14px;
}

button {
    margin: 5px;
    background-color: white;
    border: 1px solid grey;
}
.navbar-form {
    margin: 0px 10px;
}

.action-btn-edit {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: -4px;
    cursor: pointer;
    border-radius: 2px;
    transition-duration: 0.4s;

        color: white;
}

.action-btn-delete {
    background-color: red;
    border: none;
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: -4px 2px;
    cursor: pointer;
    border-radius: 2px;
    transition-duration: 0.4s;

    color: white;
}

.action-btn-delete: hover {
    background-color: #yellow; /* Green */
     color: red;
}
.action-btn-edit: hover {
    background-color: #04AA6D; /* Green */
     color: red;
}





